* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: hsl(234, 29%, 20%);
  background-color: hsl(235, 18%, 26%);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
}

main {
  flex-basis: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0;
}
@media (min-width: 48em) {
  h1 {
    font-size: 3.5rem;
  }
}

button {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 100%, 100%);
  padding-block: 1rem;
  border: none;
  border-radius: 0.5rem;
}
button:hover {
  cursor: pointer;
}

.sign-up-component {
  background-color: hsl(0, 100%, 100%);
  width: 23.4375rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.sign-up-component .illustration img {
  width: 100%;
  height: auto;
}
.sign-up-component .content {
  margin-inline: 1.5rem;
  margin-block-end: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.sign-up-component .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sign-up-component .text ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sign-up-component .text li {
  padding-inline-start: 2.5rem;
  list-style: none;
  background: url("../assets/images/icon-list.svg") no-repeat left top;
}
.sign-up-component .field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sign-up-component .field .label-and-error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: 0;
}
.sign-up-component .field .label-and-error span {
  color: hsl(4, 100%, 67%);
}
.sign-up-component .field input {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border: 0.0625rem solid hsl(0, 0%, 58%);
  border-radius: 0.5rem;
}
.sign-up-component .field input[data-invalid] {
  background-color: hsl(2, 100%, 95%);
}
.sign-up-component form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  color: hsl(0, 100%, 100%);
}
.attribution a {
  color: hsl(0, 0%, 58%);
}

.success-dialog {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border: none;
  color: hsl(234, 29%, 20%);
  background-color: hsl(0, 100%, 100%);
}
.success-dialog .dialog-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1.5rem;
  padding-block-start: 7.5rem;
  padding-block-end: 2.5rem;
}
.success-dialog .success-message {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 48em) {
  main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }
  .sign-up-component {
    width: 38rem;
    height: revert;
    border-radius: 2.25rem;
    padding: 2.5rem;
  }
  .sign-up-component .illustration img {
    border-radius: 1.25rem;
  }
  .sign-up-component .content {
    margin: 0;
  }
  .success-dialog {
    width: 31.5rem;
    height: revert;
    border-radius: 2.25rem;
    margin: auto;
    padding: 4rem;
  }
  .success-dialog::backdrop {
    background-color: hsl(235, 18%, 26%);
  }
  .success-dialog .dialog-container {
    padding: 0;
    gap: 2rem;
  }
}
@media (min-width: 90em) {
  .sign-up-component {
    width: fit-content;
    flex-direction: row-reverse;
    gap: 4rem;
    padding: 2rem;
    align-items: center;
  }
  .sign-up-component .illustration img {
    width: 25rem;
    border-radius: 0;
  }
  .sign-up-component .content {
    width: 23.5rem;
  }
  button:active {
    background-image: linear-gradient(to right, hsl(15, 100%, 61%), hsl(346, 100%, 66%));
  }
}

/*# sourceMappingURL=index.css.map */
